@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-main {
  position: relative;
  width: 92%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-main .site-menu {
  text-align: center;
  display: flex;
  padding-top: 20px;
  margin-right: 60px;
}
.header-main .site-menu ul {
  display: flex;
  gap: 50px;
}
.header-main .site-menu ul li {
  list-style: none;
}
.header-main .site-menu ul li a {
  text-decoration: none;
  color: #221C26;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  white-space: pre;
}
.header-main .site-menu ul li a:hover {
  color: #B338FF;
}
.header-main .menu-button {
  display: none;
}
.header-main .social-icons {
  display: flex;
  gap: 20px;
}
.header-main .dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  width: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.11);
  overflow: hidden;
  transition: all 0.7s;
}
.header-main .dropdown-menu.show-menu {
  width: 300px;
}
.header-main .dropdown-menu li {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main .dropdown-menu li a {
  text-decoration: none;
  color: #000000;
}
.header-main .dropdown-menu li a:hover {
  color: #B338FF;
}

.hero-main {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 80px;
}
.hero-main h1 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 700;
  color: #000000;
}
.hero-main .image-content {
  display: flex;
  margin-top: 50px;
  gap: 57px;
  align-items: center;
}
.hero-main .image-content .content {
  max-width: 706px;
}
.hero-main .image-content .content h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 26px;
}
.hero-main .image-content .content p {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #2A2F32;
}

.why-trust-main {
  margin-top: 70px;
  text-align: center;
}
.why-trust-main h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #000000;
}
.why-trust-main .cards-container {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 20px;
  margin-top: 50px;
}
.why-trust-main .cards-container .card {
  box-shadow: 0px 0px 15px rgba(179, 56, 255, 0.1);
  align-items: center;
  border: none;
  width: 270px;
  border-radius: 12px;
}
.why-trust-main .cards-container .card img {
  width: 175px;
  height: 175px;
  margin: 20px 0px;
}
.why-trust-main .cards-container .card h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #B338FF;
}
.why-trust-main .cards-container .card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #221C26;
  max-width: 230px;
}

.how-make-money {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 100px auto 0px auto;
  gap: 30px;
}
.how-make-money .heading-content h2 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  font-weight: 600;
}
.how-make-money .heading-content p {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  max-width: 727px;
}
.how-make-money .heading-content p span {
  color: #B338FF;
  font-weight: 600;
}

.importent-note {
  display: flex;
  margin: 100px auto 0px auto;
  width: 66%;
  justify-content: flex-start;
  gap: 15px;
  border: 2px solid #B338FF;
  padding: 33px 26px 16px;
  border-radius: 8px;
}
.importent-note .note-text p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #221C26;
}

.contect-section {
  margin: 100px auto;
  width: 80%;
}
.contect-section h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #000000;
}
.contect-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #221C26;
  max-width: 561px;
}
.contect-section .contect-form-main {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contect-section .contect-form-main .cotent-form button {
  background-color: #B338FF;
  max-width: 271px;
  color: white;
  height: 44px;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
  border: none;
}
.contect-section .contect-form-main .cotent-form form {
  position: relative;
}
.contect-section .contect-form-main .cotent-form form h6 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #221C26;
}
.contect-section .contect-form-main .cotent-form form .name-email {
  display: flex;
  gap: 20px;
}
.contect-section .contect-form-main .cotent-form form .name-email .user-icon {
  position: absolute;
  top: 37px;
  left: 10px;
}
.contect-section .contect-form-main .cotent-form form .name-email .mail-icon {
  position: absolute;
  top: 37px;
  left: 300px;
}
.contect-section .contect-form-main .cotent-form form .name-email .name-box {
  width: 270px;
}
.contect-section .contect-form-main .cotent-form form .name-email .text-field {
  width: 270px;
  border-radius: 6px;
  padding: 8px 12px;
  height: 40px;
  border: 1px solid #d9d9d9;
  color: #7E7287;
}
.contect-section .contect-form-main .cotent-form form .name-email .text-field::-moz-placeholder {
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #7E7287;
}
.contect-section .contect-form-main .cotent-form form .name-email .text-field::placeholder {
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #7E7287;
}
.contect-section .contect-form-main .cotent-form form .name-email .text-fieldactive-placeholder::-moz-placeholder {
  color: #B338FF;
}
.contect-section .contect-form-main .cotent-form form .name-email .text-fieldactive-placeholder::placeholder {
  color: #B338FF;
}
.contect-section .contect-form-main .cotent-form form .massage {
  margin-top: 20px;
}
.contect-section .contect-form-main .cotent-form form .massage .massage-field {
  width: 561px;
  height: 140px;
  border: 1px solid #d9d9d9;
  color: #7E7287;
  border-radius: 6px;
}
.contect-section .contect-form-main .cotent-form form .massage .massage-field::-moz-placeholder {
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #7E7287;
  display: flex;
  justify-content: flex-start;
}
.contect-section .contect-form-main .cotent-form form .massage .massage-field::placeholder {
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #7E7287;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1025px) {
  .header-main .site-logo {
    width: 122.5px;
    height: 56px;
  }
  .header-main .site-menu {
    margin: 0;
  }
  .header-main .site-menu ul {
    gap: 30px;
  }
  .header-main .site-menu ul li a {
    font-size: 14px;
    line-height: 22px;
  }
  .hero-main h1 {
    font-size: 28px;
    line-height: 29.8px;
  }
  .hero-main .image-content .hero-image {
    width: 199px;
    height: 151px;
  }
  .hero-main .image-content .content h2 {
    font-size: 18px;
    line-height: 27.53px;
  }
  .hero-main .image-content .content p {
    font-size: 12px;
    line-height: 21.74px;
    max-width: 477px;
  }
  .why-trust-main h1 {
    font-size: 28px;
    line-height: 24.1px;
  }
  .why-trust-main .cards-container {
    width: 70%;
  }
  .why-trust-main .cards-container .card {
    width: 166px;
  }
  .why-trust-main .cards-container .card .card-image {
    width: 111px;
    height: 111px;
  }
  .why-trust-main .cards-container .card h5 {
    font-size: 12px;
    line-height: 17.76px;
  }
  .why-trust-main .cards-container .card p {
    font-size: 9px;
    line-height: 16.49px;
    max-width: 145px;
  }
  .how-make-money {
    width: 70%;
  }
  .how-make-money .make-money-image {
    width: 227px;
    height: 168.19px;
  }
  .how-make-money .heading-content h2 {
    font-size: 24px;
    line-height: 24px;
  }
  .how-make-money .heading-content p {
    font-size: 12px;
    line-height: 30px;
    max-width: 465px;
  }
  .importent-note {
    width: 70%;
  }
  .contect-section h2 {
    font-size: 28px;
  }
  .contect-section p {
    max-width: 415px;
  }
  .contect-section .contect-form-main {
    width: 70%;
  }
  .contect-section .contect-form-main .form-image {
    width: 290px;
    height: 204px;
  }
  .contect-section .contect-form-main .cotent-form form h6 {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email {
    gap: 56px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .mail-icon {
    left: 259px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .name-box {
    max-width: 193px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field {
    max-width: 193px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field::-moz-placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field::placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field {
    max-width: 441px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field::-moz-placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field::placeholder {
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {
  .header-main .site-logo {
    width: 109.38px;
    height: 50px;
  }
  .header-main .site-menu ul li a {
    font-size: 12px;
    line-height: 22px;
  }
  .importent-note {
    width: 72%;
  }
}
@media screen and (max-width: 768px) {
  .header-main .site-logo {
    width: 81px;
    height: 37.03px;
  }
  .header-main .site-menu ul {
    gap: 20px;
  }
  .header-main .site-menu ul li a {
    font-size: 10px;
    line-height: 22px;
  }
  .header-main .site-menu ul li .profile-icon {
    width: 18px;
    height: 18px;
  }
  .header-main .social-icons .social-icon {
    width: 18px;
    height: 18px;
  }
  .hero-main .image-content {
    flex-direction: column-reverse;
  }
  .hero-main .image-content .hero-image {
    width: 302px;
    height: 226.4px;
  }
  .hero-main .image-content .content {
    width: 70%;
  }
  .why-trust-main h1 {
    font-size: 24px;
    line-height: 24.1px;
  }
  .why-trust-main .cards-container {
    width: 78%;
  }
  .why-trust-main .cards-container .card {
    width: 142px;
  }
  .why-trust-main .cards-container .card .card-image {
    width: 70px;
    height: 70px;
  }
  .why-trust-main .cards-container .card h5 {
    font-size: 10.42px;
    line-height: 15.42px;
  }
  .why-trust-main .cards-container .card p {
    font-size: 7px;
    line-height: 14.32px;
    max-width: 113px;
  }
  .how-make-money {
    width: 78%;
    display: flex;
    flex-direction: column-reverse;
  }
  .how-make-money .make-money-image {
    width: 294.23px;
    height: 218px;
  }
  .how-make-money .heading-content h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .how-make-money .heading-content p {
    font-size: 12px;
    line-height: 30px;
    max-width: 465px;
  }
  .how-make-money .heading-content p span {
    font-size: 12px;
    font-weight: 400;
  }
  .importent-note {
    width: 82%;
  }
  .importent-note .note-text p {
    font-size: 12px;
  }
  .contect-section h2 {
    font-size: 24px;
    line-height: 38px;
  }
  .contect-section p {
    max-width: 520px;
  }
  .contect-section .contect-form-main {
    margin-top: 30px;
    max-width: 70%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .contect-section .contect-form-main .form-image {
    max-width: 290px;
    height: 204px;
  }
  .contect-section .contect-form-main .cotent-form form h6 {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email {
    gap: 28px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .mail-icon {
    left: 232px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .name-box {
    width: 193px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field {
    width: 193px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field::-moz-placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field::placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field {
    max-width: 414px;
    height: 114px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field::-moz-placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field::placeholder {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .header-main .site-logo {
    width: 119px;
    height: 54.4px;
  }
  .header-main .site-menu {
    margin: 0;
  }
  .header-main .site-menu ul {
    display: none;
  }
  .header-main .menu-button {
    display: block;
  }
  .header-main .social-icon {
    display: none;
  }
  .header-main .dropdown-menu {
    display: block;
  }
  .hero-main .image-content {
    align-items: initial;
  }
  .hero-main .image-content .hero-image {
    width: 302px;
    height: 226.4px;
  }
  .hero-main .image-content .content {
    width: 105%;
  }
  .hero-main .image-content .content h2 {
    font-size: 20px;
    line-height: 27.53px;
  }
  .hero-main .image-content .content p {
    font-size: 14px;
    line-height: 24px;
  }
  .why-trust-main h1 {
    font-size: 28px;
    line-height: 34.82px;
  }
  .why-trust-main .cards-container {
    flex-wrap: wrap;
    width: 93%;
  }
  .why-trust-main .cards-container .card {
    width: 252.82px;
  }
  .why-trust-main .cards-container .card .card-image {
    width: 147.89px;
    height: 120px;
  }
  .why-trust-main .cards-container .card h5 {
    font-size: 14.45px;
    line-height: 22.28px;
  }
  .why-trust-main .cards-container .card p {
    font-size: 11.56px;
    line-height: 20.69px;
    max-width: 225.58px;
  }
  .importent-note {
    width: 91%;
  }
  .contect-section h2 {
    font-size: 20px;
    line-height: 38px;
  }
  .contect-section p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width: 376px) {
  .hero-main h1 {
    font-size: 16px;
    line-height: 29.8px;
  }
  .hero-main .image-content .content {
    width: auto;
  }
  .hero-main .image-content .content h2 {
    font-size: 14px;
    line-height: 27.53px;
  }
  .hero-main .image-content .content p {
    font-size: 10px;
    line-height: 21.74px;
  }
  .why-trust-main h1 {
    font-size: 16px;
    line-height: 24.1px;
  }
  .why-trust-main .cards-container {
    flex-wrap: wrap;
    width: 93%;
  }
  .why-trust-main .cards-container .card {
    width: 158px;
  }
  .why-trust-main .cards-container .card .card-image {
    width: 87.47px;
    height: 107px;
  }
  .why-trust-main .cards-container .card h5 {
    font-size: 9px;
    line-height: 14px;
  }
  .why-trust-main .cards-container .card p {
    font-size: 7px;
    line-height: 13px;
    max-width: 141.68px;
  }
  .how-make-money .heading-content h2 {
    font-size: 14px;
    line-height: 38px;
  }
  .how-make-money .heading-content p {
    font-size: 10px;
    line-height: 24px;
  }
  .how-make-money .heading-content p span {
    font-size: 10px;
  }
  .importent-note {
    width: 92%;
  }
  .importent-note .note-text p {
    font-size: 10px;
    line-height: 26px;
  }
  .contect-section h2 {
    font-size: 16px;
    line-height: 38px;
  }
  .contect-section p {
    font-size: 10px;
    line-height: 22px;
  }
  .contect-section .contect-form-main .cotent-form button {
    padding: 4px 25px;
    width: 125px;
    height: 40px;
  }
  .contect-section .contect-form-main .cotent-form form h6 {
    font-size: 12px;
    line-height: 22px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email {
    flex-direction: column;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .mail-icon {
    left: 10px;
    top: 136px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .name-box {
    width: 193px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field {
    width: 193px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field::-moz-placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .name-email .text-field::placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field {
    max-width: 280px;
    height: 114px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field::-moz-placeholder {
    font-size: 12px;
  }
  .contect-section .contect-form-main .cotent-form form .massage .massage-field::placeholder {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */